@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=M+PLUS+Rounded+1c:wght@500&family=Roboto+Mono&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');


.jumbotron {
    background : url('page3.png');
    background-size:cover;
    color:#fff;
    height:816px;
    widows: 1544px;
}

.lead {
    font-size: large;
    color : black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 150px;
    padding-right: 250px;
}

#Button1 {
  font-size: 20px;
  font-weight: bold;
  background-color: #D3D6F3;
  margin-top:500px;
  margin-left: 350px;
  outline: #D3D6F3;
  color: black;
  padding: 3px 35px;
  border-radius: 17px;
  
}

.jumbotron1 {
    background-color : #D3D3D7;
    color:#fff;
    height:500px;
}

.body1{
  background-image: url("form_bg.png");
  background-size:cover;
  height:816px;
  widows: 1544px;
}

.containerAF{
  background-image: url("afterform_bg.png")
}

.container1 {
font-family: 'M PLUS Rounded 1c', sans-serif;
background-color: #D3D2D2;
padding: 20px;
margin: auto;
margin-top : 5%;
width: 75%;
border-radius: 70px;
}

.slide {
    position: relative;;
    margin:0 auto;
    width:1000px;
    height:600px;
    overflow:hidden
    }
    
    .slide input {
    display:block;
    position: absolute;
    width:960px;
    height:450px;
    left:0;
    top:0;
    opacity:0;
    cursor:pointer;
    margin:0;
    padding:0
    }
    
    .slide img {
        
    visibility:hidden;
    opacity:0;
    height:450px;
    position: absolute;
    left:300px;
    top:0;
    widows: 600px;
    border:20px solid #ddd;
    border-radius:20px;
    transition:all .5s ease-out
    }
    
    .slide input:checked + img {
    visibility:visible;
    opacity:1
    }
    
    .slide input:checked { display:none }
    
    .slide input:nth-child(1) { z-index:13 }
    .slide input:nth-child(3) { z-index:12 }
    .slide input:nth-child(5) { z-index:11 }
    .slide input:nth-child(7) { z-index:10 }
    
    .slide input:nth-child(1):checked ~ input:nth-child(3),
    .slide input:nth-child(3):checked ~ input:nth-child(5),
    .slide input:nth-child(5):checked ~ input:nth-child(7) { z-index:15 }

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=M+PLUS+Rounded+1c:wght@500&family=Roboto+Mono&family=Ubuntu+Condensed&display=swap');

body, html{
margin: 0%;
width: 100%;
height: 100%;
}
.how{
background-image: url('mulailah.png');
background-size: cover;
font-family: 'Ubuntu Condensed', sans-serif;
padding: 2cm;
min-height: 100%;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: center;
}
.how p{
width: 40%;
font-size: 25px;
}
.tips{
background-color: #D3D2D2;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100%;
font-family: 'Roboto Mono', monospace;
}
.tips h1{
    margin-top: 40px;
}
.gejala{
background-color: #C4C4C4;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100%;
font-family: 'Roboto Mono', monospace;
padding-top:50px;
}

#gambartip{
margin-top:50px;
width: 150px;
height: 150px;
margin-right: 200px;
margin-left: 150px;
margin-bottom: 20px;
}

#gambartip1{
    margin-top: 50px;
    margin-left:300px;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#gambartip2{
    margin-top: 50px;
    margin-right:300px;
    margin-left:180px;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

#gambargejala{
width: 150px;
height: 150px;
margin-left: 80px;
}

#gambargejala1 {
    width: 150px;
    height: 150px;
    margin-left: 50px;
}

.tip{
margin: 2cm;
text-align: center;
font-size: 30px;
}

* {
box-sizing: border-box;
}

.column {
float: left;
width: 33.33%;
padding: 0 10px;
}

.column h2 {
    padding-left: 15%;
    text-align: center;
}

.column2 {
float: left;
width: 50%;
padding: 0 10px;
margin-bottom: 30px;
}

.column2 h2 {
    padding-left: 30%;
    text-align: center;
}

.column21 h2 {
    padding-right: 20%;
    padding-left: 5%;
    text-align: center;
}


.column3 {
float: left;
width: 25%;
padding: 0 10px;
margin-top:45px;
}

.column3 h2 {
    padding-left:100px;
}

.column31 h2 {
    padding-right:10px;
    text-align: center;
    padding-top: 60px;
}

.row {
margin: 0 -5px;
}

.row2 {
background-color: #DAB9A9;
border-radius: 189px;
width: 1000px;
margin: 0 -5px;
height: 220px;
}

.row3 {
background-color: #8DBB86;
border-radius: 189px;
height: 220px;
width: 1000px;
margin: 0 -5px;
}

.row:after {
content: "";
display: table;
clear: both;
}

.homepage {
  background-image: url('ayoayo.png');
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.datacovid {
  background-color: #D3D3D7;
  background-size:cover;
  color:#fff;
  height:816px;
  widows: 1544px;
}

.datacovid h1{
  font-weight: bold;
  padding: 100px;
}

.col1 {
  background-color: #8DBB86;
  height: 250px;
  width: 300px;
  border: 5px solid black;
  padding: 50px;
  margin-right:20px;
  margin-left:40px;
  border-radius: 30px;
  text-align: center;
}

.col1 h2 {
  margin-top: 16px;
  font-size: 60px;
  font-weight: bold;
}

.col2 {
  background-color: #FB9562;
  height: 250px;
  width: 300px;
  border: 5px solid black;
  padding: 50px;
  margin-left: 100px;
  border-radius: 30px;
  text-align: center;
}

.col2 h2 {
  margin-top: 16px;
  font-size: 60px;
  font-weight: bold;
}

.col3 {
  background-color: #BA5353;
  height: 250px;
  width: 300px;
  border: 5px solid black;
  padding: 50px;
  border-radius: 30px;
  text-align: center;
  margin-left: -1110px;
}

.col3 h2 {
  margin-top: 16px;
  font-size: 60px;
  font-weight: bold;
}



.daftar {
  background-color: #DAB9A9;
  height: 310px;
  width: 1000px;
  border: 25px solid #8DBB86;
  margin-left: 150px;
  margin-top:300px;
  margin-bottom:50px;
  margin-right:40px;
  border-radius: 50px;
  text-align: center;
}

.daftar p {
  font-size: 24px;
  margin-top: 30px;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 20px;
  cursor: pointer;
  background-color: black;
}

input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 24px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  float: right;
  margin-left: 70%;
  width: 100px;
  height: 40px;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.col-25 {
  float: left;
  width: 10%;
  margin-top: 6px;
  text-align: left;
  font-size: 24px;
  margin-left: 4%;
}

.col-75 {
  float: left;
  width: 80%;
  margin-top: 6px;
  border-radius: 28px;
}



  

/* Responsive layout - when the screen is less than 1000px wide, take the two columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
  .col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  }

@media screen and (max-width: 1095px) {
.how{
padding-top: 10cm;
padding-right: 1cm;
}
.how p{
    width: 70%;
}
}
@media screen and (max-width: 1035px) {
.column, .column2, .column3 {
width: 100%;
display: block;
margin-bottom: 20px;
}
.row2, .row3{
border-radius: 100px;
width: 80%;
}
#rev{
display: flex;
flex-direction: column-reverse;
}
}

@media screen and (max-width: 906px) {
.column, .column2 {
width: 100%;
display: block;
margin-bottom: 20px;
}
}

@media screen and (max-width: 770px) {
.how{
padding-top: 10cm;
}
.how p{
    width: 100%;
}
}

@media screen and (max-width: 515px) {
.how{
    padding-top: 12cm;
}
.how p{
    width: 100%;
}
}

@media screen and (max-width: 1095px) {
    .lead {
        color : black;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 45px;
        padding-right: 50px;
    }

    .slide {
        position: relative;;
        margin:0 auto;
        width:1000px;
        height:490px;
        overflow:hidden
    }
        
    .slide input {
    display:block;
    position: absolute;
    width:960px;
    height:200px;
    left:0;
    top:0;
    opacity:0;
    cursor:pointer;
    margin:0;
    padding:0
    }
    
    .slide img {
        
    visibility:hidden;
    opacity:0;
    height:450px;
    position: absolute;
    left:10px;
    top:0;
    widows: 600px;
    border:20px solid #ddd;
    border-radius:20px;
    transition:all .5s ease-out
    }
    
    .slide input:checked + img {
    visibility:visible;
    opacity:1
    }
    
    .slide input:checked { display:none }
    
    .slide input:nth-child(1) { z-index:13 }
    .slide input:nth-child(3) { z-index:12 }
    .slide input:nth-child(5) { z-index:11 }
    .slide input:nth-child(7) { z-index:10 }
    
    .slide input:nth-child(1):checked ~ input:nth-child(3),
    .slide input:nth-child(3):checked ~ input:nth-child(5),
    .slide input:nth-child(5):checked ~ input:nth-child(7) { z-index:15 }
    
}
