@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

* {
    box-sizing: border-box;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 24px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    float: right;
    margin-right: 5%;
}

input[type=submit]:hover {
    background-color: #45a049;
}
body{
    background-image: url("img/form_bg.png");
}
.container {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #D3D2D2;
    padding: 20px;
    margin: auto;
    margin-top : 5%;
    width: 75%;
    border-radius: 76px;
}

.col-25 {
    float: left;
    width: 10%;
    margin-top: 6px;
    text-align: left;
    font-size: 24px;
    margin-left: 4%;
}

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
    border-radius: 28px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 1000px) {
    .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    }
}