{% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/form.css">
    <title>Document</title>
    <style>
        body{
            background-image: url("afterform_bg.png");
            background-size: cover;
        }
    </style>
</head>
<body>
</body>
{% endblock %}
</html>