{% extends "navbar.html" %}
{% load static %}
{% block content %}



    <div class="mainpage d-flex flex-column">

        <div class="d-flex flex-column">
            <div id="middleSection" style="margin-bottom: 30px;">
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="input-name" class="prompt" type="text" placeholder="Search Name">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>

            <div id= "message">
                {% for feedback in feedbacks %}
                <div class="card1 mb-4 mx-5 entry">
                
                    <div class="card-header " style="background-color:  rgb(163, 202, 200); border-radius: 15px;">
                        {{feedback.nama}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ feedback.pesan }}</p>
                    </div>
               
                </div>
                {% endfor %}
            </div>
        <div class="mt-5 ml-5">
            <center><a class="button-class" role="button"  href="{% url 'TugasKelompokPPWApp:feedbackCreate' %}">add feedback</a></center>
        </div>
        

        </div>
    </div>

<script>
    $(function() {
        $('#input-name').keyup(function() {
            var keyword = $('#input-name').val();
            $.ajax({
                method: 'GET',
                url: '/getTipsTrick/',
                dataType: 'json',
                success: function(data) {
                    $('#message').empty();
                    var html = '';
                    console.log("haiiiiiii")
                    if (data.length === 0) {
                        html += '<h3 class="txt-setting">We are sorry, there aren\'t any tips & trick.</h3>';
                        $('#message').append(html);
                    } else {
                        for (var i = 0; i < data.length; i++) {
                            if ((data[i]['nama']).includes(keyword)) {
                                html += '<div class="card1 mb-4 mx-5 entry ">';
                                html = html + '<h2>' + data[i]['nama'] + '</h2>';
                                html = html + '<p>' + data[i]['pesan'] + '</p>' + '</div>';
                            }
                        }
                        $('#message').append(html);
                        // console.log(data);
                    }
                    // console.log(data);
                    // console.log(data.length);
                }
            })
        })
    })

    
</script>


{% endblock content %}