{% extends "navbar.html" %}
{% load static %}
{% block content %}

<div class="mainpage2"> 
        <div class="d-flex flex-column feedbackform">
            <h1 class="mt-3 add">Masukkan feedback anda untuk website kami</h1>
            <form action = '' method="POST" id= "feedbackform">
                {% csrf_token %}
                <table>
                {{ form.as_table }}
                </table>
                <!-- <input type="submit" id = "submitBtn" class="button-submit mx-auto" value="SUBMIT"> -->
                <button type="button" class="tombol" id="submitBtn">Submit</button>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <a role="button" class="button-create"  href="{% url 'TugasKelompokPPWApp:feedback' %}">VIEW FEEDBACK</a>
        </div>
</div>

<script>
$(document).ready(function() {
    $("#submitBtn").click(function() {
        $.ajax({
            type: "POST",
            url: "/feedback-create/",
            data: $("#feedbackform").serialize(),
            success: function(response) {
                $("#nama_input").val("")
                $("#message_input").val("")
                $("#input-name").trigger("keyup");
            }
        });
    });
})
</script>
{% endblock content %}