{% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
  {% block content %}
        <body class="body1">
                <div class="container1">
                  <form action="" method="POST">
                  <div class="row">
                    <div class="col-25">
                    <label for="name">Nama</label>
                    </div>
                    <div class="col-75">
                    <input type="text" id="fname" name="name" placeholder="Tulis nama..">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-25">
                    <label for="femail">Email</label>
                    </div>
                    <div class="col-75">
                    <input type="text" id="email" name="email" placeholder="Tulis email..">
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="col-25">
                    <label for="freason">Alasan</label>
                    </div>
                    <div class="col-75">
                    <textarea id="reason" name="reason" placeholder="Tulis alasanmu.." style="height:200px"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <a href="afterform1.html">
                        <input type="button" value="Submit">
                    </a>
                  </form>
                  </div>
                </div>
                
                
                
                </body>
                {% endblock %}   
</body>

</html>