{% extends "navbar.html" %}

{% load static %}

{% block meta %}
<title>hasil</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock meta %}

{% block content %}

<input id="keyword" placeholder="judul berita">

<div id="daftar_berita">

{% for i in result %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{i.title}}</h5>
            <p class="card-text">{{i.content}}</p>
            <a href="{{i.link}}" class="btn btn-primary">{{i.link}}</a>
        </div>
    </div>
{% endfor %}

</div>

<a href="{% url 'TugasKelompokPPWApp:beritas' %}" class="btn btn-primary">Tambah Artikel</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $("#keyword").keyup(function(){
        var inp = $("#keyword").val();
        $.ajax({
        
            url: '/hasil/data/?q='+inp,
            success:function(data) {
                console.log(data)
                var array_items = data;
                $("#daftar_berita").empty();
                for (i = 0; i<array_items.length; i++) {
                    var judul_berita = array_items[i].fields.title;
                    var author_berita = array_items[i].fields.author;
                    var konten_berita = array_items[i].fields.content;
                    var link_berita = array_items[i].fields.link;
                    $("#daftar_berita").append("<div class=\"card\"><div class=\"card-body\"><h5 class=\"card-title\">"+judul_berita+"</h5><p class=\"card-text\">"+konten_berita+"</p><a href=\""+link_berita+"\" class=\"btn btn-primary\">"+link_berita+"</a></div></div>");
                }
            }
        });
    });
</script>
{% endblock content %}
