{% extends "navbar.html" %}
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
</head>

<body>
  {% block content %}
  <div class="homepage"></div>
  <div class="datacovid">
    <h1>Data-Data Panduan Covid-19</h1>
    <div class="row" style="margin-left: 600px;">
    <div class="col1">
      <h2>493.308</h2>
      <p style="font-size: 25px;">POSITIF</p>
    </div>
    <div class="col2">
      <h2>15.774</h2>
      <p style="font-size: 25px">MENINGGAL</p>
    </div>
    <div class="col3">
      <h2>413.955</h2>
      <p style="font-size: 25px">SEMBUH</p>
    </div>
    </div>
    <div class="jumbotron1 jumbotron-fluid">
        
            <div class="daftar">
                <p>YUK! Bersama kita cegah penularan Covid - 19 dengan bantu kami mendaftarkan diri kalian sebagai relawan untuk memberikan edukasi kepada masyarakat agar dapat mencegah virus ini terus menyebar</p>
                <a class="button" href="/form">Daftar Yuk!</a>
            </div>
         
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <p class="lead">Virus Corona atau severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2) adalah virus yang menyerang sistem pernapasan. Penyakit karena infeksi virus ini disebut COVID-19. Virus Corona bisa menyebabkan gangguan ringan pada sistem pernapasan, infeksi paru-paru yang berat, hingga kematian.</p>
        </div>
    </div>

    <div class='slide'>
        <input type='radio' name='radio-set' checked='checked' />
        <img src="{% static 'masker.png' %}"  alt="Sheep 9">
      
        <input type='radio' name='radio-set' />
        <img src="{% static 'prosedur.png' %}"  alt="Sheep 9">
    </div>

    <div class="how">
        <p>
            Berdasarkan bukti ilmiah, COVID-19 dapat menular dari manusia ke manusia melalui droplet (percikan liur saat batuk atau bersin), tidak melalui udara atau airborne. WHO pernah menyebutkan tentang airborne precautions, yang ditujukan spesifik bagi tenaga medis, dikarenakan droplet dapat berubah menjadi partikel yang lebih kecil dengan beberapa prosedur tertentu, seperti nebulasi.</p>
    </div>

    <div class="tips">
      <h1>TIPS-TIPS MENCEGAH COVID-19</h1>
      <div class="row">
        <div class="column">
          
            <img id="gambartip" src="{% static 'ellips4.png' %}">
            <h2>MEMAKAI MASKER</h2>
          
        </div>
      
        <div class="column">
          
            <img id="gambartip" src="{% static 'ellips5.png' %}">
            <h2>MENCUCI TANGAN</h2>
          
        </div>
        
        <div class="column">
          
            <img id="gambartip" src="{% static 'ellips7.png' %}">
            <h2>JAGA JARAK</h2>
          
        </div>
      </div>

      <div class="row">
        <div class="column2">
          
            <img id="gambartip1" src="{% static 'ellips6.png' %}">
            <h2>MAKAN MAKANAN YANG SEHAT ATAU BERGIZI</h2>
          
        </div>
      
        <div class="column21">
          
            <img id="gambartip2" src="{% static 'ellips3.png' %}">
            <h2>BEROLAHRAGA</h2>
          
        </div>
      </div>
    </div>

    <div class="gejala">
      <h1>GEJALA COVID-19</h1>
      
      <div class="row2">
        <div class="column">
          
            <h2>BATUK</h2>
            <img id="gambargejala" src="{% static 'ellips8.png' %}">
          
        </div>
      
        <div class="column">
          
            <img id="gambargejala" src="{% static 'ellips9.png' %}">
            <h2>FLU</h2>
          
        </div>
      
        <div class="column">
          
            <h2>DEMAM</h2>
            <img id="gambargejala" src="{% static 'ellips10.png' %}">
          
        </div>
      </div>

      <br><br>

      <div class="row3">
        <div id="rev">
            <div class="column3">
                
                    <h2>LELAH</h2>
                    <h2>LESUH</h2>
                    <h2>LETIH</h2>
                
            </div>
            <div class="column3">
                
                    <img id="gambargejala1" src="{% static 'ellips11.png' %}">
                
            </div>
        </div>
        <div class="column3">
            
                <img id="gambargejala1" src="{% static 'ellips13.png' %}">
            
        </div>
        <div class="column31">
                <h2>SAKIT TENGGOROKAN</h2>
        </div>
      </div>

    </div>

{% endblock %}
</body>

</html>