<!doctype html>
<html lang="en">

{% load static %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'feedbackStyle.css' %}">
    <style>
      #tulisanCegahCovid {
        font-weight: bold;
        margin-left: 50px;
        font-size: 36px;
      }

      #Button {
        font-size: 20px;
        font-weight: bold;
        background-color: #D3D6F3;
        margin-right: 65px;
        outline: #D3D6F3;
        color: black;
        padding: 3px 35px;
        border-radius: 17px;
      }

      footer {
        background-color: black;
        text-align: center;
      }
      
      .maung{
        color:white;
        align-items: center;
        font-size: 20px;
      }

      .cegahcovid{
        color: white;
        align-items: center;
        font-size: 30px;
      }
      #hello-msg{
        font-size: 18px;
        color: white;
        margin-right: 20px;
      }
    </style>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #565A85;">
        <a class="navbar-brand" id="tulisanCegahCovid" href="#">Cegah Covid-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
              <a class="btn btn-default" id="Button" href="/home">Home</a>
              <a class="btn btn-default" id="Button" href="/feedback-create">Feedback</a>
              <a class="btn btn-default" id="Button" href="{% url 'TugasKelompokPPWApp:beritas' %}">Berita</a>
          </form>
        </div>  
        {% if user and user.is_authenticated %}
        <span id="hello-msg">Hello, {{request.user}}</span>
        <span><a id="Button" href="{% url 'TugasKelompokPPWApp:logout' %}">logout</a></span>
        {% else %}
        <span><a id="Button" href="{% url 'TugasKelompokPPWApp:login' %}">login</a></span>
        {% endif%}
      </nav>

      {% block content %}
      {% endblock %}

      <footer>
        <p class="cegahcovid">Cegah Covid-19</p>
        <p class="maung">maung.id</p>
      </footer>


      
       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script-->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>